@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap');

:root{
  --main-color:#3867d6;
}

*{
  font-family: 'Nunito', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: 1rem;
}

html::-webkit-scrollbar-track{
  background: #444;
}

html::-webkit-scrollbar-thumb{
  background: var(--main-color);
  border-radius: 5rem;
}

body{
  background: #e6e60b;
  transition: background 0.2s linear;
}

body.dark{
	background: #222;
}

body.dark .header{
  background-color: #333;
  
}

.header{
  position: fixed;
  top: 0; right: 0; left: 0;
  z-index: 10000;
  background:#f7f713;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  
}

.header .logo p{
  font-weight: bold;
  color: #000;
  font-size: 2.5rem;
  float: right;
  margin-top: 2.3rem;
  margin-left: .4rem;
}

body.dark .header .logo p{
  color: #fff;
}

.header .logo span{
  color: var(--main-color);
}
.header img{
  border-radius: 50%;
}

.header .navbar a{
  font-size: 1.7rem;
  font-weight: 900;
  color: #000;
  margin-left: 2rem;
}

body.dark .header .navbar a{
  color: #fff;
}

.header .navbar a:hover{
  color: var(--main-color);
}

#menu-bars{
  font-size: 3rem;
  color: #000;
  cursor: pointer;
  display: none;
}

body.dark #menu-bars{
  color: #fff;
}
 section{
   padding: 2rem 9%;
 }

 .home .content{
   text-align: center;
   padding-top: 6rem;
   margin: 2rem auto;
   max-width: 70rem;
 }

 .home .content h3{
   color: #000;
   font-size: 4.5rem;
   text-transform: uppercase;
 }

 body.dark .home .content h3{
   color: #fff;
 }
 .home .content h3 span{
   color: var(--main-color);
   text-transform: uppercase;
 }

 .btn{
   margin-top: 1rem;
   display: inline-block;
   padding: .8rem 3rem;
   font-size: 1.7rem;
   border-radius: .5rem;
   background: #666;
   color: #fff;
   cursor: pointer;
   font-weight: 600;
 }


 .btn:hover{
   background-color: var(--main-color);
 }

.home .home-slider .swiper-slide{
  overflow: hidden;
  border-radius: .5rem;
  height: 50rem;
  width: 35rem;
}

.home .home-slider .swiper-slide img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  background: #111 transparent;
}

.heading{
  text-align: center;
  padding-bottom: 2rem;
  color: #000;
  font-size: 4rem;
  text-transform: uppercase;
}

body.dark .heading{
  color: #fff;
}

.heading span{
  color: var(--main-color);
  text-transform: uppercase;
}

.team .t-container{
  height: 600px;
  font-weight: 700px;
  margin: 25px auto;
  overflow: hidden;
  position: relative;
  perspective: 1000px;
  -webkit-box-reflect: below 0px linear-gradient(transparent,transparent, #0004);
}

.team .t-container .slides{
  height: 100%;
  width: 500%;
  display: flex;
}

.team .t-container .slides > img{
  height: 100%;
  width: 20%;
  object-fit: cover;
  transition: .3s ease-in;
}

.team .t-container .slides > img ~ img{
  transform: rotateY(-65deg);
}

.team input{
  display: none;
}

.team .controls{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 200px;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: .3s;
}

.team .t-container:hover .controls{
  transform: scaleY(1);
}
.team .controls > label{
  height: 25px;
  width: 25px;
  background: #fff;
  border-radius: 50%;
  margin: 5px;
}

.team .controls > label:hover{
  cursor: pointer;
  transition: .2s;
  box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.5) inset,0px 0px 0px 3px white;
}

#r1:checked ~  .t-container .slides img:nth-child(1){
  margin-left: -0%;
}
#r2:checked ~  .t-container .slides img:nth-child(1){
  margin-left: -20%;
}
#r3:checked ~  .t-container .slides img:nth-child(1){
  margin-left: -40%;
}
#r4:checked ~  .t-container .slides img:nth-child(1){
  margin-left: -60%;
}
#r5:checked ~  .t-container .slides img:nth-child(1){
  margin-left: -80%;
}

#r1:checked ~  .t-container .slides img:nth-child(1),
#r2:checked ~  .t-container .slides img:nth-child(2),
#r3:checked ~  .t-container .slides img:nth-child(3),
#r4:checked ~  .t-container .slides img:nth-child(4),
#r5:checked ~  .t-container .slides img:nth-child(5){
  transform: rotateY(0deg);
}

.captions > .content{
  font-family: tahoma;
  position: absolute;
  bottom: 40px;
  right: 0px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  font-size: 13px;
  text-align: right;
  transform: translateX(200px);
  transition: .2s;
}

#r1:checked ~  .t-container .captions .content:nth-child(1),
#r2:checked ~  .t-container .captions .content:nth-child(2),
#r3:checked ~  .t-container .captions .content:nth-child(3),
#r4:checked ~  .t-container .captions .content:nth-child(4),
#r5:checked ~  .t-container .captions .content:nth-child(5){
  transform: translateX(0px);
}

.about .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .row .image{
  flex: 1 1 45rem;
  padding: 1rem;
}

.about .row .image img{
  width: 100%;
  border-radius:.5rem ;
  border: 1rem solid #333;
}

.about .row .content{
  flex: 1 1 45rem;
}

.about .row .content h3{
  font-size: 3.5rem;
  color: #000;
}

body.dark .about .row .content p{
  color: #eee;
}

body.dark .about .row .content h3{
  color: #fff;
}

.about .row .content p{
  font-size: 1.5rem;
  font-weight: 600;
  color: #111;
  padding:1rem 0;
  line-height:2;
}

.gallery .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.gallery .box-container .box{
  position: relative;
  border: 1rem solid #333;
  border-radius: .5rem;
  height: 25rem;
  cursor: pointer;
  overflow: hidden;
}

.gallery .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container .box:hover img{
  transform: scale(1.1);
  filter: grayscale();
}

.gallery .box-container .box .title{
  position: absolute;
  top: -10rem; right: 0; left: 0;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.gallery .box-container .box:hover .title{
  top: 0;
}

.gallery .box-container .box .icons{
  position: absolute;
  bottom: -10rem; right: 0; left: 0;
  background-color: #222;
  text-align: center;
  padding-top: 1rem;
}

.gallery .box-container .box:hover .icons{
  bottom: 0;
}

.gallery .box-container .box .icons a{
  font-size: 2rem;
  margin: .5rem 1rem;
  color: #fff;
}

.gallery .box-container .box .icons a:hover{
  color: var(--main-color);
}

.programme .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.programme .box-container .box{
  border-radius: .5rem;
  background-color: #333;
  text-align: center;
  padding: 2.5rem;
}

.programme .box-container .box i{
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  font-size: 2.5rem;
  background-color: var(--main-color);
  color: #fff;
}

.programme .box-container .box h3{
  font-size: 2rem;
  color: #fff;
  padding: 1rem 0;
}

.programme .box-container .box p{
  font-size: 1.4rem;
  color: #eee;
  line-height: 1.8;
}


.review .box{
  background-color: #333;
  padding:20px;
  border-radius: .5rem;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.review .box .user{
  margin-bottom: 20px;
  overflow: hidden;
  height: 250px;
  gap: 1.5rem;
}

.review .box .user img{
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.review .box .user:hover img{
  transform: scale(1.1);
}

.review .box .user-info h3{
  font-size: 2rem;
  color: #fff;
}

.review .box .user-info span{
  font-size: 1.5rem;
  color:#fff;
}
.review .box .user-info p{
  font-size: 15px;
  color:#eee;
  line-height: 2;
  padding: .5rem 0;
}



.contact form{
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
}

.contact form .inputbox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .inputbox input,
.contact form textarea{
  width: 100%;
  background-color: #333;
  border-radius: .5rem;
  padding: 1rem;
  margin: .7rem 0;
  font-size: 1.5rem;
  color: #fff;
  text-transform: none;
}

.contact form .inputbox input::placeholder,
.contact form textarea::placeholder{
  color: #eee;
  text-transform: capitalize;
}

.contact form .inputbox input:focus,
.contact form textarea:focus{
  background: #555;
}

.contact form .inputbox input{
  width: 49%;
}

.contact form textarea{
  resize: none;
}

.footer{
  background: #dada11;
}

body.dark .footer{
  background-color: #111;
}

body.dark .footer .box-container .box h3{
  color: #fff;
}

body.dark .footer .box-container .box a{
  color: #eee;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  padding: 1rem 0;
  color: #000;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 1rem 0;
  color: #111;
}

.footer .box-container .box a i{
  padding-right: .5rem;
  color: var(--main-color);
}

.footer .box-container .box a:hover i{
  padding-right: 1.5rem;
  color: #fff;
}

@media (max-width:991px){
  html{
    font-size: 55%;
  }
  .header{
    padding: .5rem 1rem;
  }
  section{
    padding: 3rem;
  }
}

@media (max-width:880px){
  #menu-bars{
    display: initial;
  }

  .header .navbar{
    position: absolute;
    top: 100%; left: 0; right: 0;
    border-top: .1rem solid #222;
    background-color: #f7f713;
    clip-path: polygon(0 0,100% 0, 100% 0,0 0);
  }
  
  body.dark .header .navbar{
    background: #333;
  }
  .header .navbar.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
  }
  .fa-times{
    transform: rotate(180deg);
  }
  .header .navbar a{
    display: flex;
    background-color: #f3c407;
    border-radius: .5rem;
    padding: 1.3rem;
    margin: 1.3rem;
    font-size: 2rem;
  }

  body.dark .header .navbar a{
    background: #222;
    color: white;
  }

  .home .content h3{
    font-size: 4rem;
  }

  
}

@media (max-width:450px){
  html{
    font-size: 50%;
  }

  .home .home-slider .swiper-slide{
    width: 27rem;
  }

  .contact form .inputbox input{
    width: 100%;
  }

  

}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #000;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #e6e60b;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #e6e60b;
}

.fa-sun {
	color: #e6e60b;
}

.result #lowerbdy{
  width: 100%;
  height: 99.3%;
  margin: 25px auto;
  overflow: hidden;
  position: relative;
  perspective: 1000px;
}

.result .tab{
  font: bold 13px sans-serif;
  background: #333;
  margin: 15px auto;
  width: 100%;
  text-align: center;
  border-radius: 2px;
}

.result .tab ul{
  float: left;
  list-style: none;
  text-align: left;
  margin: 0px;
  padding-left: 0px;
  
}

.result .tab ul li{
  margin-right: -1px;
}

.result .tab ul li a{
  display: block;
  text-decoration: none;
  color: #fff;
  border: 1px solid transparent;
  border-right: 0px;
  border-left: 0px;
  padding: 16px 40px 18px 22px;
}

.result .tab ul li a.tab-active{
  background:var(--main-color);
}

.result .tab ul li:first-child a{
  border-top: 0px;
}

.result .tab .content{
  overflow: hidden;
  border-left: 1px solid #333;
  font-weight: bold;
  font-size: 1.5rem;
  background: #444;
  padding: 10px 20px 25px;
  margin: 0px auto;
  box-shadow: -3px 0 0px #333;
  text-align: center;
  
}

.result .tab .content div{
  display: none;
}

.result .tab .content div.content-active{
  display: block;
  
}

.result .tab .content div pre{
  color: #fff;
  font-size: small;
  font-weight: bold;
  line-height: 1.5;
  margin: 5px 0px 20px;
}

.result .tab .content div h2{
  color: var(--main-color);
  line-height: 1.5;
  margin: 5px 0px 20px;
}

.result .tab .content div h1{
  color: #fff;
}
.result .tab .content div img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: .3s ease-in;
}

@media (max-width:688px){
  .result .tab ul{
    float: none;
  }
  .result .tab ul li{
    display: inline-block;
    margin-bottom: -1px;
  }
  .result .tab ul li a{
    border: 1px solid transparent;
    border-bottom: 0px;
    border-top: 0px;
    padding: 14px 17px;
  }

  .result .tab ul li a.tab-active{
    border-color: #333;
    background-color: #444;
    
  }
   
  .result .tab ul li:first-child a{
    border-left: 0px;
  }

  .result .tab .content{
    float: left;
    padding: 8px 15px 15px;
    border-left: 0px;
    border-top: 1px solid #333;
    box-shadow: 0px -3px 0px #333;
  }

  .result .tab .content div img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: .3s ease-in;
  }
  
  
}

@media (max-width:500px){
  .result .tab .content{
    text-align: left;
  }
  
  .result .tab ul li a{
    padding: 12px 10px;
  }

  .result .tab .content div pre{
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    margin: 5px 0px 20px;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    
}

.container{
    display: flex;
    align-items: center;
    flex-wrap:wrap ;
    padding: 20px 7%;
    background-color: #333;
    min-height: 100vh;
    gap: 15px;
    padding-bottom: 80px;
}

.container .content{
    flex:1 1 400px;
}

.container .image{
    flex:1 1 400px;
}

.container .image img{
    width: 100%;
}

.container .content .title{
    font-size: 45px;
    text-transform: uppercase;
    color: #2980b9;
}

.container .content p{
    font-size: 20px;
    color: #eee;
    padding:5px 0;
}

.container .content .count-down{
    display: flex;
    gap: 15px;
    padding:10px 0;
}

.container .content .count-down .box{
    background: #444;
    padding:5px;
    border:1px solid #333;
    text-align: center;
    flex:1 1 20px;
}

.container .content .count-down .box h3{
    font-size: 50px;
    color: #fff;
}

.container .content .count-down .box span{
    color: #fff;
    font-size: 20px;
    font-weight: 900;
}

.container .content .btn{
    display: inline-block;
    padding:8px 50px;
    margin:10px 0;
    font-size: 17px;
    background: #2980b9;
    color: #fff;
    transition: .2s ease-out;
}

.container .content .btn:hover{
    letter-spacing: 2px;
}











@media (max-width:500px){

    .container{
        padding: 20px;
    }

    .container .content{
        text-align: center;
    }

    .container .content .title{
        font-size: 35px;
    }

    .container .content p{
        font-size: 15px;
    }

    .container .content .count-down{
        grid-area: 15px;
    }

    .container .content .count-down .box h3{
        font-size: 30px;
    }

    .container .content .count-down .box span{
        font-size: 15px;
    }
}